{% extends 'layout.html' %}
{% from "_formhelpers.html" import render_field %}

{% block body %}

<form method=post>
  <dl>
    {{ render_field(form.c) }}
    {{ render_field(form.f) }}
  </dl>
  <p><input type=submit value=Calculate>
{% if best_otm != None %}
<br>
Best DTE: {{best_dte}}
<br>
Best OTM: {{best_otm}}
<br>
Best Return: {{best_re}}
{% endif %}
</form>
{% endblock %}
