{% extends 'layout.html'%}
{% from "_formhelpers.html" import render_field %}

{% block body %}

<form method=post>
  <dl>
    {{ render_field(form.c) }}
    {{ render_field(form.f) }}
    {{ render_field(form.dte) }}
    {{ render_field(form.otm) }}
    {{ render_field(form.duration) }}
    {{ render_field(form.spy_pct_chg) }}
    {{ render_field(form.current_option_premium) }}
    {{ render_field(form.strike_price) }}
  </dl>
  <p><input type=submit value=Calculate>
{% if mean_return != None %}
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Normalized (divided by strike)</th>
      <th scope="col">Real (Dollar)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Mean Gross Return</th>
      <td>{{mean_return}}</td> 
      <td>{{real_mean_return}}</td>
    </tr>
    <tr>
      <th scope="row">Standard deviation</th>
      <td>{{std_dev}}</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th scope="row">Annualized Mean Gross Return</th>
      <td>{{mean_annualized_return}}</td>
      <td>{{real_mean_annualized_return}}</td>
    </tr>
    <tr>
      <th scope="row">Future Option Premium</th> 
      <td>N/A</td>
      <td>{{future_option_premium}}</td>
    </tr>
  </tbody>
</table>
{% endif %}
</form>
{% endblock %}
