{% extends 'layout.html'%}
{% from "_formhelpers.html" import render_field %}

{% block body %}

<form method=post>

<table class="table">
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{render_field(form.c)}}</td>
      <td>{{render_field(form.dte)}}</td>
      <td>{{render_field(form.otm)}}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>{{render_field(form.f)}}</td>
      <td>{{render_field(form.dte2)}}</td>
      <td>{{render_field(form.otm2)}}</td>
    </tr>
  </tbody>
</table>

<br>
  <center><p><input type=submit value=Calculate></center>
{% if p1_norm != None %}
<table class="table table-striped" width="100">
  <thead>
    <tr>
      <th>#</th>
      <th>Premium 1</th>
      <th>Premium 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Normalized by Strike</th>
      <td>{{p1_norm}}</td>
      <td>{{p2_norm}}</td>
    </tr>
    <tr>
      <th scope="row">Not Normalized by Strike</th>
      <td>{{p1}}</td>
      <td>{{p2}}</td>
    </tr>
    <tr>
      <th scope="row">Normalized Standard Deviation</th>
      <td>{{std_dev_norm1}}</td>
      <td>{{std_dev_norm2}}</td>
    </tr> 
    <tr>
      <th scope="row">Not Normalized Standard Deviation</th>
      <td>{{std_dev1}}</td>
      <td>{{std_dev2}}</td>
    </tr>
  </tbody>
</table> 

{% endif %}
<br>
<h2>operating range</h2>
<table width="300" Border=6 cellspacing=1 cellpadding=20>
  <tr>
    <th>#</th>
    <th>Range</th>
  </tr>
  <tr>
    <td>otm</td>
    <td>2-15</td>
  </tr>
  <tr>
    <td>dte</td>
    <td>1-150</td>
  </tr>
  <tr>
    <td>vix</td>
    <td>11-25</td>
  </tr>
</table>
</form>
{% endblock %}
